#----------------------------------------------------------#
#include "a113_base.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
##include "gst_audio.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "audio_service.config"

