#----------------------------------------------------------#
#include "a113_speaker.config"

#----------------------------------------------------------#
BR2_TARGET_UBOOT_BOARDNAME="axg_s420_v1"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="axg_s420 axg_s420_v03 axg_s420_128m"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonaxg_s420/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="?"
#BR2_ROOTFS_POST_BUILD_SCRIPT="?"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_AMAUDIO=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_QUALCOMM_QCA6174=n
BR2_PACKAGE_QUALCOMM_WIFI=n
BR2_PACKAGE_RTK8189ES=n
BR2_PACKAGE_RTK8189ES=n
BR2_PACKAGE_RTK8189ES_LOCAL=n
BR2_PACKAGE_RTK8822BU=n
BR2_PACKAGE_RTK8822BU_LOCAL=n
BR2_PACKAGE_SWUPDATE_DOWNLOAD=n
BR2_PACKAGE_VIM=n
BR2_PACKAGE_WAVPACK=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="bcm4356 AP6398"
BR2_SYSTEM_DHCP="wlan0"

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SPEAKER_PROCESS=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ_ALSA=y
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_LIBICAL=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_LIBRESPOT_SYNC=y
BR2_PACKAGE_LIBSVG=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PIXMAN=y
BR2_PACKAGE_READLINE=y
BR2_PACKAGE_SBC=y
BR2_PACKAGE_TZDATA=y
BR2_PACKAGE_VLC=y
BR2_TARGET_TZ_INFO=y
BR2_VLC_FOR_AUDIO=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="S420"

