#----------------------------------------------------------#
#include "a113_purely_soundbar.config"

#----------------------------------------------------------#
BR2_TARGET_UBOOT_BOARDNAME="axg_s410_v1_sbr"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="axg_s410_v03sbr"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonaxg_s410_sbr/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="?"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesonaxg_s410_sbr/post_build.sh"

#----------------------------------------------------------#
BR2_PACKAGE_AUDIOSERVICE_EXTERNAL_M6350=n
BR2_PACKAGE_AUDIOSERVICE_S410_SBR=y
BR2_PACKAGE_AUDIOSERVICE_AIRPLAY=n
BR2_PACKAGE_AUDIOSERVICE_AMLUART=y
BR2_PACKAGE_AUDIOSERVICE_FFMPEG=n

#--------------Please overwrite config here----------------#
BR2_PACKAGE_BRCMAP6XXX=n
BR2_PACKAGE_BRCMAP6XXX_LOCAL=n
BR2_PACKAGE_DNSMASQ=n
BR2_PACKAGE_HOSTAPD=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LIBCURL=n
BR2_PACKAGE_NTP=n
BR2_PACKAGE_QUALCOMM_WIFI=n
BR2_PACKAGE_RTK8189ES=n
BR2_PACKAGE_RTK8189ES_LOCAL=n
BR2_PACKAGE_RTK8822BU=n
BR2_PACKAGE_RTK8822BU_LOCAL=n
BR2_PACKAGE_WIFI_FW=n
BR2_PACKAGE_LINUX_PAM=n

#--------------Please add new config here-----------------#
#

BR2_PACKAGE_AML_SOC_BOARD_NAME="S410_SBR"

