#----------------------------------------------------------#
#include "a1_speaker.config"

#----------------------------------------------------------#
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesona1_ad401/upgrade/"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="meson-a1-a113l-ad401"
BR2_ROOTFS_OVERLAY="board/amlogic/mesona1_ad401/rootfs/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesona1_ad401/post_build.sh"
BR2_TARGET_UBOOT_BOARDNAME="a1_ad401_nand_linux"

#----------------------------------------------------------#
BR2_PACKAGE_AML_RTOS_DSPA_BUILD_OPTION="a1_a113l_ad401_hifi4a_linux"
BR2_PACKAGE_AML_RTOS_DSPA_INSTALL=y
BR2_PACKAGE_AML_RTOS_DSPA_AUTOLOAD=y
BR2_PACKAGE_AML_RTOS_DSPB_BUILD_OPTION="a1_a113l_ad401_hifi4b_linux"
BR2_PACKAGE_AML_RTOS_DSPB_INSTALL=y

#--------------Please overwrite config here----------------#
BR2_PACKAGE_AMAUDIO=n
BR2_PACKAGE_AML_COMMONLIB=n
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_REMOTECFG=n
BR2_PACKAGE_VIM=n
BR2_PACKAGE_WAVPACK=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6236"
BR2_SYSTEM_DHCP="wlan0"

#--------------Please add new config here-----------------#
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_GLIB_NETWORKING=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_LIBARCHIVE=y
BR2_PACKAGE_LIBCURL_MBEDTLS=y
BR2_PACKAGE_LIBESTR=y
BR2_PACKAGE_LIBFASTJSON=y
BR2_PACKAGE_LIBGMIME=y
BR2_PACKAGE_LIBGPG_ERROR=y
BR2_PACKAGE_LIBLOGGING=y
BR2_PACKAGE_LIBSOUP=y
BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_LIBTASN1=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_MBEDTLS=y
BR2_PACKAGE_NGHTTP2=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_SWUPDATE_DOWNLOAD=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AD401"

