#----------------------------------------------------------#
#include "a1_speaker.config"

#----------------------------------------------------------#
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesona1_ad401/upgrade/"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="meson-a1-a113l-ad402"
BR2_ROOTFS_OVERLAY="board/amlogic/mesona1_ad402/rootfs/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesona1_ad402/post_build.sh"
BR2_TARGET_UBOOT_BOARDNAME="a1_ad402_nand_linux"

#----------------------------------------------------------#
BR2_PACKAGE_AML_RTOS_DSPA_BUILD_OPTION="a1_a113l_ad401_hifi4a_linux"
BR2_PACKAGE_AML_RTOS_DSPA_INSTALL=y
BR2_PACKAGE_AML_RTOS_DSPA_AUTOLOAD=y
BR2_PACKAGE_AML_RTOS_DSPB_BUILD_OPTION="a1_a113l_ad401_hifi4b_linux"
BR2_PACKAGE_AML_RTOS_DSPB_INSTALL=y

#--------------Please overwrite config here----------------#
BR2_PACKAGE_AMAUDIO=n
BR2_PACKAGE_AML_BRCM_BSA=n
BR2_PACKAGE_AML_COMMONLIB=n
BR2_PACKAGE_BRCMAP6XXX=n
BR2_PACKAGE_BRCMAP6XXX_LOCAL=n
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_GDB=n
BR2_PACKAGE_HOST_GDB=n
BR2_PACKAGE_LINUX_PAM=n
BR2_PACKAGE_NETPLUG=n
BR2_PACKAGE_REMOTECFG=n
BR2_PACKAGE_VIM=n
BR2_PACKAGE_WAVPACK=n
BR2_PACKAGE_WIFI_FW=n
BR2_PACKAGE_WIFI_FW_LOCAL=n
BR2_SYSTEM_DHCP="wlan0"

#----------------------Only For RealTeck WiFi/BT----------------------------------------------Begin#
#for rtk
BR2_PACKAGE_RTK8723DS=y
BR2_PACKAGE_RTK8723DS_LOCAL=y
BR2_PACKAGE_RTK8723DS_STANDALONE=y
BR2_PACKAGE_RTK8723DS_GIT_VERSION="n-amlogic"
BR2_PACKAGE_RTK8723DS_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/wifi/realtek/drivers/8723ds"
#
BR2_PACKAGE_REALTEK_BT=y
BR2_PACKAGE_REALTEK_BT_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/realtek/bluetooth"
BR2_PACKAGE_REALTEK_UART_BT=y
#BR2_PACKAGE_REALTEK_USB_BT=y

#BR2_PACKAGE_SBC=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_OBEX=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ_ALSA=y

#--------------Please add new config here-----------------#
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_GLIB_NETWORKING=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_LIBARCHIVE=y
BR2_PACKAGE_LIBCURL_MBEDTLS=y
BR2_PACKAGE_LIBESTR=y
BR2_PACKAGE_LIBFASTJSON=y
BR2_PACKAGE_LIBGMIME=y
BR2_PACKAGE_LIBGPG_ERROR=y
BR2_PACKAGE_LIBLOGGING=y
BR2_PACKAGE_LIBSOUP=y
BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_LIBTASN1=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_MBEDTLS=y
BR2_PACKAGE_NGHTTP2=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_SWUPDATE_DOWNLOAD=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AD402"

