#include "base_aml.config"

#CPU Architecture
BR2_cortex_a35=y
BR2_ARM_CPU_HAS_VFPV4
BR2_ARM_CPU_HAS_NEON
BR2_ARM_CPU_HAS_FP_ARMV8=y
BR2_ARM_FPU_NEON_FP_ARMV8=y

#Kernel Config
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_VERSION_VALUE="amlogic-4.19-dev"
BR2_LINUX_KERNEL_CUSTOM_LOCAL=y
BR2_LINUX_KERNEL_CUSTOM_LOCAL_PATH="$(TOPDIR)/../kernel/aml-4.19"
BR2_LINUX_KERNEL_DEFCONFIG="meson64_a32_smarthome"
BR2_LINUX_KERNEL_IMAGE_LOADADDR="0x20000"
BR2_LINUX_KERNEL_BOOTIMAGE_OFFSET="0x20000"
BR2_LINUX_KERNEL_PATCH="amlogic-4.19"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_USE_INTREE_DTS=y
BR2_LINUX_KERNEL_AMLOGIC_DTD=y
BR2_LINUX_KERNEL_ANDROID_FORMAT=y
BR2_LINUX_KERNEL_UIMAGE=y
BR2_TARGET_BOARD_PLATFORM="mesonaxg"

#UBoot Config
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_CUSTOM_LOCAL=y
BR2_TARGET_UBOOT_CUSTOM_LOCAL_VERSION_VALUE="2019"
BR2_TARGET_UBOOT_CUSTOM_LOCAL_LOCATION="$(TOPDIR)/../bootloader/uboot-repo"
BR2_TARGET_UBOOT_PATCH=""
BR2_TARGET_UBOOT_AMLOGIC_REPO=y
BR2_TARGET_UBOOT_PLATFORM="a1"

BR2_ROOTFS_COMMON_OVERLAY="board/amlogic/common/rootfs/rootfs-419-audio/"
BR2_ROOTFS_UPGRADE_DIR="board/amlogic/common/upgrade/upgrade-a1/"
BR2_RECOVERY_OTA_DIR="board/amlogic/common/ota/ota-a1/"
BR2_RECOVERY_OTA_RAMDISK_DIR="board/amlogic/common/ota/ota-a1/ramdisk/"

#Rootfs Config
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_ROOTFS_TAR_GZIP=y

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y

#include "flash_nand_2k.config"

BR2_PACKAGE_AML_SOC_FAMILY_NAME="A1"
BR2_PACKAGE_AML_SOC_CHIP_NAME="A113L"


