BR2_PACKAGE_HAL_AUDIO_SERVICE=y
BR2_PACKAGE_AML_AMAUDIOUTILS=y
BR2_PACKAGE_AML_AUDIO_HAL=y
BR2_PACKAGE_AML_TVSERVER=y
BR2_PACKAGE_AML_DVB=y
BR2_PACKAGE_AML_ZVBI=y
BR2_PACKAGE_AML_HDCP=y
BR2_PACKAGE_AML_PROVISION=y
BR2_PACKAGE_TDK=y
BR2_PACKAGE_TINYALSA=y
BR2_PACKAGE_LIBLOG=y
BR2_PACKAGE_LOGCAT=y
BR2_PACKAGE_LOGWRAPPER=y
