# Architecture
BR2_arm=y
BR2_ARM_KERNEL_32=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_LINARO_ARMV8_7DOT3_201805_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/../toolchain/gcc/linux-x86/arm/gcc-linaro-7.3.1-2018.05-x86_64_armv8l-linux-gnueabihf"
BR2_KERNEL_TOOLCHAIN_PATH="$(TOPDIR)/../toolchain/gcc/linux-x86/arm/gcc-linaro-7.3.1-2018.05-x86_64_armv8l-linux-gnueabihf"
BR2_KERNEL_TOOLCHAIN_LINARO_ARMV8_201805=y

