#ATMOS
BR2_PACKAGE_DOLBY_ATMOS_RELEASE=y

#For Audio Service
BR2_PACKAGE_DBUS=y
BR2_PACKAGE_AUDIOSERVICE=y
#BR2_PACKAGE_AUDIOSERVICE_FFMPEG=y
BR2_PACKAGE_AUDIOSERVICE_STRESSTEST=y

#For rsyslog, needed by audio service
BR2_PACKAGE_RSYSLOG=y
BR2_PACKAGE_LIBESTR=y
BR2_PACKAGE_LIBFASTJSON=y
BR2_PACKAGE_LIBLOGGING=y

# Add USB Player
BR2_PACKAGE_AUDIOSERVICE_USBPLAYER=y

# Add AirPlay
BR2_PACKAGE_AUDIOSERVICE_AIRPLAY=y

#include "aml_audio_player.config"
