#
#avs-support
#
BR2_PACKAGE_NGHTTP2=y
BR2_PACKAGE_MBEDTLS=y
BR2_PACKAGE_LIBCURL_MBEDTLS=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_LIBGMIME=y
BR2_PACKAGE_GLIB_NETWORKING=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_LIBSOUP=y
BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_LIBTOTEM=y
BR2_PACKAGE_LIBARCHIVE=y
BR2_PACKAGE_PORTAUDIO=y
#
#avs
#
BR2_PACKAGE_AVS_SDK=y
BR2_AVS_DSPC_AEC=y
BR2_AVS_AMAZON_WWE=y
#BR2_AVS_RDSPC=y
#BR2_AML_BT_DSPC=y

#led ring
#
BR2_PACKAGE_LEDRING=y

BR2_PACKAGE_OPENSSH=y

