# Mirrors and Download locations
BR2_BACKUP_SITE="http://sources.buildroot.net"
BR2_DEPRECATED=y

#AML Package
BR2_TARGET_USBTOOL_AMLOGIC=y
BR2_PACKAGE_AML_UTIL=y
BR2_PACKAGE_AML_BOOTLOADER_MESSAGE=y
BR2_PACKAGE_AML_UBOOTENV=y
BR2_PACKAGE_REMOTECFG=y
BR2_PACKAGE_AML_COMMONLIB=y

#Public Package
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_LINUX_PAM=y

BR2_TARGET_GENERIC_ROOT_PASSWD="123456"
