#----------------------------------------------------------#
#include "c1_ipc_legacy.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="meson-c1-c308x-ae400"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonc1_ae400/rootfs/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesonc1_ae400/post_build.sh"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesonc1_ae400/upgrade/"
BR2_TARGET_UBOOT_BOARDNAME="c1_ae400"

#----------------------------------------------------------#
BR2_PACKAGE_AML_RTOS_ARM_BUILD_OPTION="c1_c308x_ae400"
BR2_PACKAGE_AML_RTOS_DSPA_BUILD_OPTION="c1_c308x_ae400_hifi4a"
BR2_PACKAGE_AML_RTOS_DSPB_BUILD_OPTION="c1_c308x_ae400_hifi4b"
BR2_PACKAGE_AML_RTOS_DSPA_INSTALL=y
BR2_PACKAGE_AML_RTOS_DSPB_INSTALL=y

#--------------Please overwrite config here----------------#
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=n
BR2_PACKAGE_FBGRAB=n
BR2_PACKAGE_FBSET=n
BR2_PACKAGE_FBTERM=n
BR2_PACKAGE_FB_TEST_APP=n
BR2_PACKAGE_GST_AML_PLUGINS1=n
#BR2_PACKAGE_HARFBUZZ=n
BR2_PACKAGE_HOST_GDB=n
#BR2_PACKAGE_LIBERATION=n
BR2_PACKAGE_LIBPLAYER=n
BR2_PACKAGE_PANGO=n
BR2_PACKAGE_SLT=n

#--------------Please add new config here-----------------#
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBPTHREAD_STUBS=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_NETSNMP=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_POPT=y
BR2_PACKAGE_RSYNC=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AE400"
