#----------------------------------------------------------#
#include "c1_base.config"

#----------------------------------------------------------#
#include "linux_udev.config"

#----------------------------------------------------------#
#include "media_k4.19.config"

#----------------------------------------------------------#
#include "network_driver_k4.19.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "rtos.config"

#----------------------------------------------------------#
#include "npu_driver_k4.19.config"
BR2_PACKAGE_NPU_NBG_IMAGE="c1_c308x_model.img"

#----------------------------------------------------------#
#include "nn_app.config"

#----------------------------------------------------------#
#include "isp_k4.19.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "ipc_driver.config"
BR2_PACKAGE_AML_SOC_USE_MULTIENC=y

#----------------------------------------------------------#
#include "ipc_sdk.config"
BR2_PACKAGE_IPC_REFAPP=y
BR2_PACKAGE_IPC_WEBUI=y
BR2_PACKAGE_ONVIF_SRVD=y
BR2_PACKAGE_ONVIF_PREBUILT=y
BR2_PACKAGE_ONVIF_GENERATE_PREBUILT=y

BR2_PACKAGE_ALSA_PLUGINS=n

#----------------------------------------------------------#
#include "timezone_shanghai.config"
