#----------------------------------------------------------#
#include "c1_base.config"

#----------------------------------------------------------#
#include "linux_udev.config"

#----------------------------------------------------------#
#include "media_k4.19.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "npu_driver_k4.19.config"
BR2_PACKAGE_NPU_NBG_IMAGE="c1_c308x_model.img"

#----------------------------------------------------------#
#include "nn_app.config"

#----------------------------------------------------------#
#include "isp_k4.19.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"
BR2_PACKAGE_NTFS_3G=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "ipc_driver.config"
BR2_PACKAGE_AML_SOC_USE_MULTIENC=y

#----------------------------------------------------------#
#include "ipc_sdk.config"
BR2_PACKAGE_UVC_GADGET=y
BR2_PACKAGE_UVC_GADGET_USE_NN=y

BR2_PACKAGE_ALSA_PLUGINS=n
