#
# Common Config for Nand flash
#
#include "flash_nand.config"

# Config for 2k Nand
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=2212
BR2_TARGET_ROOTFS_UBIFS_OPTS="-v"
BR2_TARGET_ROOTFS_UBI_SUBSIZE=2048

# Config for 4k Nand
#
#BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x3e000
#BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=1120
#BR2_TARGET_ROOTFS_UBIFS_OPTS="-F"
#BR2_TARGET_ROOTFS_UBI_SUBSIZE=4096
#BR2_TARGET_ROOTFS_UBIFS_MINIOSIZE=0x1000
#BR2_TARGET_ROOTFS_UBI_PEBSIZE=0x40000


