#----------------------------------------------------------#
#include "g12a_base.config"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_g31_k4.9.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "westeros.config"

