#----------------------------------------------------------#
#include "g12a_ott.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="g12a_s905x2_u211_drm_buildroot"
BR2_TARGET_UBOOT_BOARDNAME="g12a_u211_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesong12a_u211/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesong12a_u211/upgrade/"

#--------------Please overwrite config here----------------#

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SOC_BOARD_NAME="U211"
