#----------------------------------------------------------#
#include "g12b_ipc.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="g12b_a311x_w411_buildroot g12b_a311x_w411_buildroot_a"
BR2_TARGET_UBOOT_BOARDNAME="g12b_w411_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesong12b_w411/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesong12b_w411/upgrade/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesong12b_w411/post_build.sh"

#--------------Please overwrite config here----------------#

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SOC_BOARD_NAME="W411"
BR2_PACKAGE_AML_SOC_CHIP_NAME="A311D"
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6236"
