#----------------------------------------------------------#
#include "g12b_base.config"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "npu_driver_k4.9.config"

#----------------------------------------------------------#
#include "nn_app.config"

#----------------------------------------------------------#
#ISP driver is shared between k4.9 and k4.19
#include "isp_k4.19.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_NTFS_FS CONFIG_FUSE_FS"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "ipc_driver.config"

#----------------------------------------------------------#
#include "ipc_sdk.config"
BR2_PACKAGE_IPC_REFAPP=y
#BR2_PACKAGE_IPC_WEBUI=y
#BR2_PACKAGE_ONVIF_SRVD=y
BR2_PACKAGE_ONVIF_PREBUILT=y
BR2_PACKAGE_ONVIF_APPLY_PREBUILT=y

BR2_PACKAGE_ALSA_PLUGINS=n

#----------------------------------------------------------#
#include "timezone_shanghai.config"
