#----------------------------------------------------------#
#include "g12b_ipc.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="g12b_a311d_w400_buildroot g12b_a311d_w400_buildroot_a"
BR2_TARGET_UBOOT_BOARDNAME="g12b_w400_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesong12b_w400/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesong12b_w400/upgrade/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesong12b_w400/post_build.sh"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_ONVIF_PREBUILT=n
BR2_PACKAGE_ONVIF_GENERATE_PREBUILT=n
BR2_PACKAGE_SLT=n
BR2_PACKAGE_SLT_NN=n

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SOC_BOARD_NAME="W400"
BR2_PACKAGE_AML_SOC_CHIP_NAME="A311"
