#----------------------------------------------------------#
#include "g12b_ott.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="g12b_a311d_w400_drm_buildroot g12b_a311d_w400_drm_buildroot_a"
BR2_TARGET_UBOOT_BOARDNAME="g12b_w400_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesong12b_w400/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesong12b_w400/upgrade/"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n
BR2_PACKAGE_QUALCOMM_WIFI=n

BR2_PACKAGE_GST_AML_PLUGINS1=n
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2_PROBE=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VORBIS=y
BR2_PACKAGE_GST1_LIBAV=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_ALSA=y

#--------------Please add new config here-----------------#
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBCURL_OPENSSL=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_POPT=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="W400"
BR2_PACKAGE_AML_SOC_CHIP_NAME="S922X"
