BR2_PACKAGE_GPU=y
BR2_PACKAGE_GPU_LOCAL=y
BR2_PACKAGE_GPU_STANDALONE=y
BR2_PACKAGE_GPU_VERSION="r16p0"
BR2_PACKAGE_GPU_MODEL="dvalin"
BR2_PACKAGE_GPU_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/arm/gpu"

#Mali egl
BR2_PACKAGE_MESON_MALI=y
BR2_PACKAGE_PROVIDES_LIBEGL="meson-mali"
BR2_PACKAGE_PROVIDES_LIBGLES="meson-mali"
#BR2_PACKAGE_HAS_LIBEGL_WAYLAND=y
BR2_PACKAGE_MESON_MALI_MODEL="dvalin"
BR2_PACKAGE_MESON_MALI_VERSION="r16p0"
BR2_PACKAGE_MESON_MALI_WAYLAND_DRM_EGL=y

