#----------------------------------------------------------#
#include "gxl_ott.config"

#----------------------------------------------------------#
#include "dvb.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="gxl_p230_2g_buildroot"
BR2_TARGET_UBOOT_BOARDNAME="gxl_p230_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesongxl_p230_kernel49/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesongxl_p230_kernel49/upgrade/"

#--------------Please overwrite config here----------------#

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SOC_CHIP_NAME="s905x"
BR2_PACKAGE_AML_SOC_BOARD_NAME="P230"
