#----------------------------------------------------------#
#include "gxl_ott.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="gxl_p241_1g_buildroot gxl_p241_v2_1g_buildroot"
BR2_TARGET_UBOOT_BOARDNAME="gxl_p241_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesongxl_p241_kernel49/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesongxl_p241_kernel49/upgrade/"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_QUALCOMM_QCA6174=n
BR2_PACKAGE_QUALCOMM_WIFI=n

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_LAUNCHER=y
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_GLIB_NETWORKING=y
#BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
#BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_LIBTASN1=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y

#include "qt5_wayland.config"
BR2_PACKAGE_AML_SOC_CHIP_NAME="s805x"
BR2_PACKAGE_AML_SOC_BOARD_NAME="P241"
