#----------------------------------------------------------#
#include "gxl_base.config"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_m450_k4.9.config"

#----------------------------------------------------------#
#include "wayland_fbdev.config"
BR2_PACKAGE_WESTON_VERSION="3.0.0"
BR2_PACKAGE_WAYLAND_VERSION="1.14.0"
BR2_PACKAGE_WAYLAND_PROTOCOLS_VERSION="1.10"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_WAYLAND=n

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "tdk.config"
BR2_PACKAGE_WIDEVINE_BIN_VERSION_14=y

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "cobalt.config"
BR2_PACKAGE_COBALT_VERSION="19.lts.5.205289"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
BR2_PACKAGE_SYSTEM_CONTROL=y

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
BR2_PACKAGE_ALSA_PLUGINS=n
