BR2_PACKAGE_AML_LIBGE2D_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/libge2d"
BR2_PACKAGE_AML_LIBGDC_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/libgdc"
BR2_PACKAGE_AML_LIBION_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/libion"
BR2_PACKAGE_LIBVPCODEC_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/libencoder/h264"
BR2_PACKAGE_LIBVPHEVCODEC_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/libencoder/h265"
BR2_PACKAGE_LIBMULTIENC_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/libencoder/multiEnc"

