BR2_PACKAGE_ONVIF_SRVD=y
BR2_PACKAGE_ONVIF_RTSP=y
BR2_PACKAGE_PTZ_CONTROL=y
BR2_PACKAGE_ONVIF_PREBUILT=y
#BR2_PACKAGE_ONVIF_APPLY_PREBUILT=y
BR2_PACKAGE_ONVIF_GENERATE_PREBUILT=y
BR2_TARGET_TZ_INFO=y
# for multi-lang of webui
BR2_GENERATE_LOCALE="en_US zh_CN"


BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_CJSON=y

