
#BR2_PACKAGE_LIBID3TAG=y

#BR2_PACKAGE_LIBMAD=y
#BR2_PACKAGE_LIBMAD_OPTIMIZATION_DEFAULT=y
#BR2_PACKAGE_LIBMAD_ASO=y
#BR2_PACKAGE_CJSON=y

#BR2_PACKAGE_TSLIB=y
#BR2_PACKAGE_LIBXSLT=y

#BR2_PACKAGE_ICU=y

#BR2_PACKAGE_PCRE_16=y

#BR2_PACKAGE_LIBJPEG=y
#BR2_PACKAGE_JPEG=y

#BR2_PACKAGE_BOOST=y
#
#BR2_PACKAGE_KBD=y

