BR2_PACKAGE_WIFI_FW=y
BR2_PACKAGE_WIFI_FW_LOCAL=y
BR2_PACKAGE_WIFI_CUSTOM_GIT_VERSION="m-amlogic"
BR2_PACKAGE_WIFI_FW_CUSTOM_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/wifi"
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6398 bcm4356p ath10k AP6335 bcm4356 AP6255"

BR2_PACKAGE_RTK8189ES=y
BR2_PACKAGE_RTK8189ES_LOCAL=y
BR2_PACKAGE_RTK8189ES_STANDALONE=y
BR2_PACKAGE_RTK8189ES_GIT_VERSION="l-amlogic"
BR2_PACKAGE_RTK8189ES_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/wifi/realtek/drivers/8189es"

BR2_PACKAGE_RTK8822BU=y
BR2_PACKAGE_RTK8822BU_LOCAL=y
BR2_PACKAGE_RTK8822BU_STANDALONE=y
BR2_PACKAGE_RTK8822BU_GIT_VERSION="m-amlogic"
BR2_PACKAGE_RTK8822BU_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/wifi/realtek/drivers/8822bu"

BR2_PACKAGE_BRCMAP6XXX=y
BR2_PACKAGE_BRCMAP6XXX_LOCAL=y
BR2_PACKAGE_BRCMAP6XXX_STANDALONE=y
BR2_PACKAGE_BRCMAP6XXX_GIT_VERSION="m-amlogic"
BR2_PACKAGE_BRCMAP6XXX_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/wifi/broadcom/drivers/ap6xxx"
BR2_PACKAGE_BRCMAP6XXX_SDIO_VERSION="bcmdhd.1.363.59.144.x.cn"
BR2_PACKAGE_BRCMAP6XXX_USB_VERSION="bcmdhd-usb.1.363.110.17.x"

BR2_PACKAGE_QUALCOMM_WIFI=y
BR2_PACKAGE_QUALCOMM_QCA6174=y
BR2_PACKAGE_QUALCOMM_WIFI_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/wifi/qualcomm/drivers"
BR2_PACKAGE_QUALCOMM_WIFIFW_LOCAL_PATH="$(TOPDIR)/../hardware/aml-4.9/amlogic/wifi

BR2_SYSTEM_DHCP="eth0"

BR2_PACKAGE_AML_BRCM_BSA=y
BR2_PACKAGE_DHD_PRIV=y

