#----------------------------------------------------------#
#include "sm1_ott.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sm1_s905d3_ac200_drm_buildroot"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonsm1_ac200/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesonsm1_ac200/upgrade/"
BR2_TARGET_UBOOT_BOARDNAME="sm1_ac200_v1"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n
BR2_PACKAGE_QUALCOMM_WIFI=n
BR2_PACKAGE_RTK8189ES=n
BR2_PACKAGE_RTK8189ES_LOCAL=n
BR2_PACKAGE_RTK8822BU=n
BR2_PACKAGE_RTK8822BU_LOCAL=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6398"

#--------------Please add new config here-----------------#
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y

BR2_PACKAGE_AML_SOC_BOARD_NAME="AC200"
