#----------------------------------------------------------#
#include "sm1_ott.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sm1_s905x3_ac214_drm_buildroot"
BR2_TARGET_UBOOT_BOARDNAME="sm1_ac214_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonsm1_ac214/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesonsm1_ac214/upgrade/"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n

#--------------Please add new config here-----------------#
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_AML_SOC_BOARD_NAME="AC214"
