#----------------------------------------------------------#
#include "sm1_base.config"

#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_g31_k4.9.config"

#----------------------------------------------------------#
#include "npu_driver_k4.9.config"

#----------------------------------------------------------#
#include "nn_app.config"

#----------------------------------------------------------#
#include "wayland_drm.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "tdk.config"
BR2_PACKAGE_WIDEVINE_BIN_VERSION_15=y

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "cobalt.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
BR2_PACKAGE_ALSA_PLUGINS=n
