#----------------------------------------------------------#
#include "sm1_ott.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sm1_s905x3_ac213_buildroot"
BR2_TARGET_UBOOT_BOARDNAME="sm1_ac213_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesonsm1_ac213/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesonsm1_ac213/upgrade/"

#--------------Please overwrite config here----------------#

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SOC_BOARD_NAME="AC213"
