BR2_PACKAGE_TDK=y
BR2_PACKAGE_LIBSECMEM_BIN=y
BR2_PACKAGE_SECFIRMLOAD=y
BR2_PACKAGE_LAUNCHER_USE_SECFIRMLOAD=y
BR2_PACKAGE_WIDEVINE_BIN=y
#Uplayer need to select the proper WIDEVINE VERSION
BR2_PACKAGE_WIDEVINE_BIN_VERSION_14=n
BR2_PACKAGE_WIDEVINE_BIN_VERSION_15=n
BR2_PACKAGE_PLAYREADY_BIN=y
BR2_PACKAGE_PLAYREADY_BIN_VERSION_3V0=y

