#----------------------------------------------------------#
#include "tm2_base.config"
BR2_LINUX_KERNEL_DEFCONFIG="meson64_a32"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/amlogic/common/kernel_config/kernel49/drm-4.9.fragment"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_ZIMAGE=n
BR2_ROOTFS_UPGRADE_DIR="board/amlogic/common/upgrade/upgrade-tm2-tv/"
BR2_RECOVERY_OTA_DIR="board/amlogic/common/ota/ota-tm2-tv/"
#----------------------------------------------------------#
#include "media_k4.9.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "gfx_g31_k4.9.config"

#----------------------------------------------------------#
#include "wayland_drm.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "gst.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "directfb.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "aml_tvserver.config"
