#----------------------------------------------------------#
#include "tm2_rdk.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="tm2_t962e2_ab311_drm_buildroot tm2_revb_t962e2_ab311_drm_buildroot"
BR2_TARGET_UBOOT_BOARDNAME="tm2_t962e2_ab311_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesontm2_ab311/rootfs/"
BR2_ROOTFS_UPGRADE_DIR_OVERLAY="board/amlogic/mesontm2_ab311/upgrade/"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_ALSA_PLUGINS=n
BR2_PACKAGE_DHD_PRIV=n
BR2_PACKAGE_EXFAT=n
BR2_PACKAGE_EXFAT_UTILS=n
BR2_PACKAGE_LIBFUSE=n
BR2_PACKAGE_QUALCOMM_QCA6174=n
BR2_PACKAGE_QUALCOMM_WIFI=n
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6398"
BR2_PACKAGE_HOSTAPD=n
BR2_PACKAGE_RTK8189ES=n

#--------------Please add new config here-----------------#
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LEVELDB=y
BR2_PACKAGE_LIBID3TAG=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBMAD=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_PCRE_16=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SNAPPY=y
BR2_PACKAGE_SQLITE_ENABLE_COLUMN_METADATA=y
BR2_PACKAGE_TSLIB=y

BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEOTESTSRC=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_ALSA=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_OPUS=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_THEORA=y
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VORBIS=y
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_MPG123=y
BR2_PACKAGE_GST1_LIBAV=y
BR2_PACKAGE_MPG123=y
BR2_PACKAGE_PULSEAUDIO=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_DBUS=y
BR2_PACKAGE_KBD=y
BR2_PACKAGE_LIBSNDFILE=y
BR2_PACKAGE_LIBVORBIS=y
BR2_PACKAGE_OPUS=y
BR2_PACKAGE_SPEEX=y
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_LIBNSS=y
BR2_PACKAGE_HARFBUZZ=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_PANGO=y
BR2_PACKAGE_LIBINPUT=y
BR2_PACKAGE_MTDEV=y
BR2_PACKAGE_LIBTHEORA=y
BR2_PACKAGE_GLIB_NETWORKING=y
BR2_PACKAGE_KRB5=y
BR2_PACKAGE_LIBSOUP_SSL=y
BR2_PACKAGE_GCONF=y
BR2_PACKAGE_LIBEVDEV=y
BR2_PACKAGE_LIBNSPR=y
BR2_PACKAGE_LIBTASN1=y
BR2_PACKAGE_CUPS=y
BR2_PACKAGE_LIBEXIF=y
BR2_PACKAGE_SYSTEM_CONTROL=y
BR2_PACKAGE_JSON_C=y
BR2_PACKAGE_C_ARES=y
BR2_PACKAGE_GRPC=y
BR2_PACKAGE_BOOST_FILESYSTEM=y
BR2_PACKAGE_BOOST_SYSTEM=y


BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_AMLOGIC_ATV_DEMOD CONFIG_AMLOGIC_DTV_DEMOD"
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_SET_OPT_LIST=""

BR2_PACKAGE_AML_VENDOR_PARTITION=y
BR2_PACKAGE_AML_VENDOR_PARTITION_SIZE="256M"
BR2_PACKAGE_AML_VENDOR_PARTITION_PATH="$(TOPDIR)/board/amlogic/mesontm2_ab311/vendor/"

BR2_PACKAGE_AML_SOC_CHIP_NAME="T962E2"
BR2_PACKAGE_AML_SOC_BOARD_NAME="AB311"

#For RTOS
BR2_PACKAGE_AML_RTOS=y
BR2_PACKAGE_AML_RTOS_LOCAL_PATH="$(TOPDIR)/../vendor/amlogic/rtos/freertos"
BR2_PACKAGE_AML_RTOS_DSPA_BUILD_OPTION="tm2_t962e2_ab311_hifi4a"
BR2_PACKAGE_AML_RTOS_DSPA_INSTALL=y
#BR2_PACKAGE_AML_RTOS_DSPA_AUTOLOAD=y
BR2_PACKAGE_AML_RTOS_DSPB_BUILD_OPTION="tm2_t962e2_ab311_hifi4b"
BR2_PACKAGE_AML_RTOS_DSPB_INSTALL=y

