#----------------------------------------------------------#
#include "tm2_soundbar.config"

#----------------------------------------------------------#
BR2_LINUX_KERNEL_INTREE_DTS_NAME="tm2_t962e2_ab311_sbr tm2_revb_t962e2_ab311_sbr"
BR2_TARGET_UBOOT_BOARDNAME="tm2_t962e2_ab311_v1"
BR2_ROOTFS_OVERLAY="board/amlogic/mesontm2_ab311_sbr/rootfs/"
#BR2_ROOTFS_UPGRADE_DIR_OVERLAY="??"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/amlogic/mesontm2_ab311_sbr/post_build.sh"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/amlogic/common/kernel_config/kernel49/drm-4.9.fragment"

#--------------Please overwrite config here----------------#
BR2_PACKAGE_WIFI_FW_WIFI_MODULE="AP6398"

#--------------Please add new config here-----------------#
BR2_PACKAGE_AML_SOC_CHIP_NAME="T962E2"
BR2_PACKAGE_AML_SOC_BOARD_NAME="AB311"
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL=y
BR2_PACKAGE_AML_CUSTOMIZE_KERNEL_ENABLE_OPT_LIST="CONFIG_AMLOGIC_SND_SOC_TAS5782M"

#For RTOS
BR2_PACKAGE_AML_RTOS=y
BR2_PACKAGE_AML_RTOS_LOCAL_PATH="$(TOPDIR)/../vendor/amlogic/rtos/freertos"
BR2_PACKAGE_AML_RTOS_DSPA_BUILD_OPTION="tm2_t962e2_ab311_hifi4a"
BR2_PACKAGE_AML_RTOS_DSPA_INSTALL=y
#BR2_PACKAGE_AML_RTOS_DSPA_AUTOLOAD=y
BR2_PACKAGE_AML_RTOS_DSPB_BUILD_OPTION="tm2_t962e2_ab311_hifi4b"
BR2_PACKAGE_AML_RTOS_DSPB_INSTALL=y

BR2_PACKAGE_LIBDRM=y
