#----------------------------------------------------------#
#include "tm2_base.config"

#----------------------------------------------------------#
#include "network_driver_k4.9.config"

#----------------------------------------------------------#
#include "alsa.config"

#----------------------------------------------------------#
#include "adb.config"

#----------------------------------------------------------#
#include "webui.config"

#----------------------------------------------------------#
#include "tdk.config"

#----------------------------------------------------------#
#include "network_app.config"

#----------------------------------------------------------#
#include "tools.config"

#----------------------------------------------------------#
#include "audio.config"

#----------------------------------------------------------#
#include "fs_full.config"

#----------------------------------------------------------#
#include "swupdate.config"

#----------------------------------------------------------#
#include "aml_audio_player.config"

#----------------------------------------------------------#
#include "audio_service.config"

BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_FREETYPE=y
