BR2_PACKAGE_MESON_MALI_WAYLAND_DRM_EGL=y

BR2_PACKAGE_WESTON_DRM_HELPER=y
BR2_PACKAGE_WESTON_DRM_FIX_UI_SIZE=y

#LIBDRM, for wayland
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_HAS_ATOMIC=y

#Wayland
BR2_PACKAGE_WAYLAND=y
BR2_PACKAGE_WAYLAND_PROTOCOLS=y
BR2_PACKAGE_WESTON=y
BR2_PACKAGE_WESTON_DRM=y

#MALI TEST
BR2_PACKAGE_KMSCUBE=y

BR2_PACKAGE_KBD=y

#weston-launch depends
#BR2_PACKAGE_LINUX_PAM=y
