#MALI TEST
#BR2_PACKAGE_KMSCUBE=y

BR2_PACKAGE_MESON_MALI_WAYLAND_FBDEV_EGL=y
#LIBDRM, for wayland
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_HAS_ATOMIC=y
#Wayland
BR2_PACKAGE_WAYLAND=y
BR2_PACKAGE_WAYLAND_VERSION="1.14.0"
BR2_PACKAGE_WAYLAND_PROTOCOLS=y
BR2_PACKAGE_WAYLAND_PROTOCOLS_VERSION="1.10"
BR2_PACKAGE_WESTON=y
BR2_PACKAGE_WESTON_VERSION="3.0.0"
BR2_PACKAGE_WESTON_FBDEV=y

BR2_PACKAGE_KBD=y

#weston-launch depends
#BR2_PACKAGE_LINUX_PAM=y
