SUBSYSTEM!="block",GOTO="finish"
DEVTYPE!="partition",GOTO="finish"
ACTION=="add",GOTO="mount"
ACTION=="remove",GOTO="mount"
GOTO="finish"
LABEL="mount"
KERNEL=="sd[a-z][0-9]",RUN+="/etc/automount.sh %k"
KERNEL=="mmcblk[0-9]p[0-9]",RUN+="/etc/automount.sh %k"
KERNEL=="mmcblk[0-9]",RUN+="/etc/automount.sh %k"
LABEL="finish"
