#----------------------------------------------------------#
#include "arch_a6432_6.3.1.config"

#----------------------------------------------------------#
#include "sm1_ac213.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesonsm1_ac213/initramfs/ramfslist-32"
