#----------------------------------------------------------#
#include "arch_a64_6.3.1.config"

#----------------------------------------------------------#
#include "sm1_ac213.config"
BR2_PACKAGE_LAUNCHER_USE_COBALT=n
BR2_PACKAGE_COBALT=n
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesonsm1_ac213/initramfs/ramfslist-64"
