#----------------------------------------------------------#
#include "arch_a32_6.3.1.config"

#----------------------------------------------------------#
#include "tm2_ab311.config"
BR2_TARGET_ROOTFS_INITRAMFS_LIST="board/amlogic/mesontm2_ab311/initramfs/ramfslist-32"
